<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Highscores</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Super duper racing app!</a>
        <ul class="left">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1 class="title">Highscores</h1>

    <table>
        <tr>
            <th>Username</th>
            <th>Time</th>
        </tr>
        <% highscores.forEach(highscore => { %>
        <tr>
            <td><%= highscore.username %></td>
            <td><%= highscore.time %></td>
        </tr>
        <% }) %>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>