<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Login</title>
</head>
<body>


<div class="container">
    <div class="row">
        <h1 class="title center-align">Welcome to our awesome racing game!</h1>

        <% if (locals.message) { %>
        <p class="succes"><%= locals.message %> </p>
        <% } %>

        <form class="col s12" action="/login" method="post">
            <div class="input-field col s12">
                <label for="name">Username:</label>
                <input id=name type="text" placeholder="Username" name="user" value="joske">
            </div>
            <div class="input-field col s12">
                <label for="password">Password:</label>
                <input id="password" type="password" placeholder="Passphrase" name="password" value="vermeulen">
            </div>
            <% if (locals.login_error) { %>
            <p class="error"><%= login_error %> </p>
            <% } %>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Login!
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>
    <div class="row">

        <form class="col s12" action="/login/register" method="post">
            <div class="input-field col s12">
                <input type="text" name="user">
                <label for="user">Username:</label>
            </div>
            <div class="input-field col s12">
                <input type="password" name="password">
                <label for="password">Password:</label>
            </div>
            <div class="input-field col s12">
                <input type="password" name="confirmPassword">
                <label for="confirmPassword">Confirm password:</label>
            </div>
            <% if (locals.registration_error) { %>
            <p class="error"><%= registration_error %> </p>
            <% } %>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">register
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>