body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.error {
    color: red;
}

.succes {
    color: green;
}

.title {
    font-size:3rem;
}

.title2 {
    font-size:2rem;
}

#carGame {
    margin-top:20px;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}